
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-cYQ {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-a5mz-xsA {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 8.863rem 1.713rem 11.1rem;

    .the-partyyy-fWg {
      font-size: 4rem;
      text-decoration-line: underline;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 17.2rem 2.188rem 0rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .home-aNk {
      cursor: pointer;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
    }
    .shop-3XE {
      margin: 0rem 13.2rem 0.388rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .about-a1N {
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 18.706rem 0.388rem 0rem;
      cursor: pointer;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .emojione-shopping-cart-6Ec {
      flex-shrink: 0;
      margin: 0.713rem 7.169rem 0rem 0rem;
      width: 6.1875rem;
      height: 6.375rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-park-right-user-DKE {
      height: 4.8333rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2875rem;
      width: 5.175rem;
    }
  }
  .auto-group-ugb2-hkC {
    flex-shrink: 0;
    width: 100%;
    height: 219.8rem;
    position: relative;

    .auto-group-ckp4-3JG {
      align-items: flex-end;
      width: 135.6rem;
      height: 20.3rem;
      position: absolute;
      left: 6.6rem;
      top: 4.8rem;
      display: flex;

      .the-earth-laughs-in-flowers-ralph-waldo-emerson-N5e {
        max-width: 44.5rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.4rem;
      }
      .product-pic-9-GB2 {
        height: 18.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 3.6rem 1.9rem 0rem;
        width: 26.2rem;
      }
      .product-pic-9-Zfv {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 3.5rem 1.9rem 0rem;
        width: 26.2rem;
        height: 18.4rem;
        object-fit: cover;
      }
      .product-pic-9-TmJ {
        height: 18.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        width: 26.2rem;
      }
    }
    .auto-group-cmua-BxC {
      top: 27.7rem;
      display: flex;
      align-items: center;
      width: 134.7rem;
      height: 18.7rem;
      position: absolute;
      left: 7.6rem;

      .auto-group-byza-tLp {
        background-color: #ffcdcd;
        flex-shrink: 0;
        height: calc(100% - 12.4rem);
        width: 17.4rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        justify-content: center;
        border-radius: 1rem;
        margin: 6rem 31.5rem 6.4rem 0rem;
        font-family: Inter, 'Source Sans Pro';
        text-decoration-line: underline;
        white-space: nowrap;
        display: flex;
        align-items: center;
        color: #000000;
      }
      .product-pic-9-tEL {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0.3rem 3.6rem 0rem 0rem;
        width: 26.2rem;
        height: 18.4rem;
        object-fit: cover;
      }
      .product-pic-9-ASk {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 3.6rem 0.3rem 0rem;
        width: 26.2rem;
        height: 18.4rem;
        object-fit: cover;
      }
      .product-pic-9-RNg {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 26.2rem;
        height: 18.4rem;
        cursor: pointer;
      }
    }
    .auto-group-7r96-MGL {
      column-gap: 4rem;
      align-items: center;
      width: 132.4rem;
      height: 31.9rem;
      position: absolute;
      left: 5.3rem;
      top: 74.4rem;
      display: flex;

      .auto-group-7dqz-sEg {
        box-sizing: border-box;
        width: 30.1rem;
        height: 100%;
        row-gap: 1.5rem;
        display: flex;
        background-color: #ffffff;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;

        .product-pic-9-yYc {
          width: 26.2rem;
          height: 18.4rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-zh9r-Jqn {
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rose-TTn {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.4rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .rs-550-ZWp {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
        }
        .auto-group-jpfa-Hxc {
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;

          .add-to-cart-1Np {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .emojione-shopping-cart-6fA {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-bjak-1n8 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        background-color: #ffffff;

        .product-pic-10-LJc {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-bc5e-pzU {
          flex-shrink: 0;
          margin: 0rem 0rem 1.6rem 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;

          .lily-xat {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 16.8rem;
          }
          .rs-490-W6c {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .auto-group-sxqq-qeg {
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;

          .add-to-cart-yF6 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
          .emojione-shopping-cart-hRz {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.375rem;
            height: 3.8438rem;
          }
        }
      }
      .auto-group-fphw-CNk {
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        height: 100%;
        row-gap: 1.5rem;
        display: flex;

        .product-pic-11-unx {
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-nuyr-RmJ {
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .sunflower-Ayn {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.4rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .rs-670-uAg {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .auto-group-tru6-Rui {
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;

          .add-to-cart-jfW {
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
          }
          .emojione-shopping-cart-4hn {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-1xkl-ms6 {
        width: 30.1rem;
        height: 100%;
        box-sizing: border-box;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .product-pic-12-twi {
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
        }
        .auto-group-pfwe-d8c {
          margin: 0rem 0.3rem 1.6rem 0.7rem;
          width: calc(100% - 1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .tulip-jBe {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .rs-480-5FW {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
        }
        .auto-group-yoxk-DMi {
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;

          .add-to-cart-j5A {
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .emojione-shopping-cart-TWx {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-tekq-Xmi {
      left: 5.3rem;
      top: 109.4rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      width: 132.4rem;
      height: 31.9rem;
      position: absolute;

      .auto-group-wkau-DuS {
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.8rem 2.1rem 2rem;
        width: 30.1rem;
        align-items: center;
        height: 100%;
        row-gap: 1.5rem;
        display: flex;

        .product-pic-13-LjA {
          flex-shrink: 0;
          margin-right: 0.1rem;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
        .auto-group-ldda-sDJ {
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-left: 0.7rem;

          .baby-breath-DHA {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.9rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
          .rs-1100-9Ap {
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-jmqa-GWL {
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;
          margin-right: 0.1rem;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: calc(100% - 0.1rem);
          display: flex;

          .add-to-cart-b2p {
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .emojione-shopping-cart-uJQ {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-nr1e-oeg {
        width: 30.1rem;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        height: 100%;
        row-gap: 1.5rem;
        display: flex;
        background-color: #ffffff;

        .product-pic-14-Xag {
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-uwru-fB6 {
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .daisy-p3z {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.1rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
          .rs-850-7Yt {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-1tfv-eoi {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;

          .add-to-cart-nf2 {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .emojione-shopping-cart-uzY {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-jy2u-Emv {
        height: 100%;
        display: flex;
        background-color: #ffffff;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        align-items: center;

        .product-pic-15-Z3W {
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 26.2rem;
        }
        .auto-group-fduj-Gic {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 1.6rem 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;

          .daffodils-QZv {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .rs-1290-iKi {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-5yng-ez4 {
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;

          .add-to-cart-zHE {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .emojione-shopping-cart-ij2 {
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.375rem;
          }
        }
      }
      .auto-group-ef5j-Qbr {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        background-color: #ffffff;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        height: 100%;
        flex-direction: column;
        flex-shrink: 0;

        .product-pic-16-D3W {
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .auto-group-ryq6-9C4 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.6rem 0.7rem;
          width: calc(100% - 0.8rem);

          .white-carnation-fw6 {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.8rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .rs-1190-DBv {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-hjju-V9S {
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;

          .add-to-cart-CJk {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
          .emojione-shopping-cart-txG {
            flex-shrink: 0;
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-fubv-Qvc {
      display: flex;
      align-items: center;
      width: 107rem;
      height: 3.6rem;
      position: absolute;
      left: 16.9rem;
      top: 61.6rem;

      .line-2-Y1E {
        margin: 0.5rem 5.8rem 0rem 0rem;
        width: 37.6rem;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .latest-products-FgL {
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.6rem;
        font-size: 3rem;
        font-weight: 700;
      }
      .line-1-nwA {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 37.6rem;
      }
    }
    .auto-group-zrfv-ukt {
      align-items: center;
      width: 107rem;
      height: 3.6rem;
      position: absolute;
      left: 16.9rem;
      top: 149.8rem;
      display: flex;

      .line-4-EoA {
        width: 37.6rem;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin: 1.7rem 11.9rem 0rem 0rem;
      }
      .reviews-N8g {
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.7rem;
        font-size: 3rem;
      }
      .line-3-hwe {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-top: 0.9rem;
        width: 37.6rem;
      }
    }
    .auto-group-pklp-rJk {
      top: 160.4rem;
      display: flex;
      align-items: flex-end;
      width: 127.7rem;
      height: 7rem;
      position: absolute;
      left: 12.8rem;

      .auto-group-cddi-mwW {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:f16aa3231d10c883122cb6136671e57fb6eccf60');
        border-radius: 10rem;
        flex-shrink: 0;
        margin: 0rem 4rem 0.9rem 0rem;
        background-size: 100% 100%;

        .reviews-X9z {
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-gzha-nbi {
        flex-shrink: 0;
        margin: 0rem 21.1rem 0.1rem 0rem;
        width: 43rem;
        height: 4.9rem;
        position: relative;

        .elena-hTn {
          line-height: 1.2125;
          color: #000000;
          width: 5.2rem;
          height: 2.5rem;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          top: 0;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--1jN {
          width: 43rem;
          height: 2.5rem;
          top: 2.4rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .elena-U7A {
          position: absolute;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          height: 2.5rem;
          left: 0;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.2rem;
        }
        .item--aR6 {
          font-size: 2rem;
          font-weight: 400;
          width: 43rem;
          position: absolute;
          top: 2.4rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.5rem;
          left: 0;
        }
      }
      .auto-group-vjqg-3Jg {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:f16aa3231d10c883122cb6136671e57fb6eccf60');
        border-radius: 10rem;
        flex-shrink: 0;
        margin: 0rem 4rem 0.7rem 0rem;

        .reviews-A8Q {
          width: 6.3rem;
          height: 6.1rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
        }
      }
      .auto-group-jty4-4zU {
        width: 43rem;
        height: 4.9rem;
        position: relative;
        flex-shrink: 0;

        .elena-PG4 {
          width: 5.2rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          color: #000000;
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--iJL {
          width: 43rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          left: 0;
          top: 2.4rem;
          font-size: 2rem;
          white-space: nowrap;
        }
        .elena-BSp {
          width: 5.2rem;
          height: 2.5rem;
          position: absolute;
          top: 0;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          font-weight: 400;
        }
        .item--VCc {
          top: 2.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          width: 43rem;
          height: 2.5rem;
        }
      }
    }
    .auto-group-h3ma-YRn {
      left: 23.2736rem;
      top: 170.8rem;
      display: flex;
      align-items: center;
      width: 91.776rem;
      height: 2.9rem;
      position: absolute;

      .auto-group-d3hj-THr {
        flex-shrink: 0;
        margin: 0rem 1.052rem 0.1rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-dmj6-yX6 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.878rem 0.1rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
      }
      .auto-group-ugfr-hhz {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.1rem 0rem;
        width: 3rem;
        height: 2.8rem;
      }
      .auto-group-sovg-zh6 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.95rem 0.1rem 0rem;
        width: 3rem;
        height: 2.8rem;
        position: relative;
      }
      .auto-group-cmsq-KUU {
        margin: 0rem 57.024rem 0.118rem 0rem;
        width: 2.4996rem;
        height: 2.2342rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-ghwg-eWk {
        margin: 0.1rem 1.052rem 0rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-qefj-BWg {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 0.878rem 0rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
      }
      .auto-group-gaa4-VnG {
        height: 2.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 0.7rem 0rem 0rem;
        width: 3rem;
      }
      .auto-group-jljl-dNg {
        width: 3rem;
        height: 2.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 0.95rem 0rem 0rem;
      }
      .auto-group-thuu-Z1S {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0825rem;
        width: 2.4996rem;
        height: 2.2342rem;
        position: relative;
      }
    }
    .auto-group-pquj-Sqv {
      top: 175.7rem;
      display: flex;
      align-items: flex-end;
      width: 127.7rem;
      height: 6.9rem;
      position: absolute;
      left: 12.8rem;

      .auto-group-smgu-mNQ {
        background-image: url('REPLACE_IMAGE:0d0d22d0d78f50b4be7ab8a5c6d9849d08b64377');
        border-radius: 10rem;
        flex-shrink: 0;
        margin: 0rem 4rem 0.8rem 0rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        .reviews-WKz {
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
        }
      }
      .auto-group-qkt6-RSx {
        margin: 0rem 21.1rem 0.1rem 0rem;
        width: 43rem;
        height: 4.9rem;
        position: relative;
        flex-shrink: 0;

        .rocky-9Nx {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          height: 2.5rem;
          left: 0;
          top: 0;
          font-size: 2rem;
        }
        .item--fs6 {
          width: 43rem;
          height: 2.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
        }
        .rocky-Kgk {
          height: 2.5rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 5.8rem;
          position: absolute;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .item--CkY {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          width: 43rem;
          height: 2.5rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          font-size: 2rem;
          white-space: nowrap;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-2dig-sbn {
        border-radius: 10rem;
        flex-shrink: 0;
        margin: 0rem 4rem 0.6rem 0rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0d0d22d0d78f50b4be7ab8a5c6d9849d08b64377');

        .reviews-Dfe {
          width: 6.3rem;
          height: 6.1rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
        }
      }
      .auto-group-xb9i-93W {
        position: relative;
        flex-shrink: 0;
        width: 43rem;
        height: 4.9rem;

        .rocky-4RN {
          top: 0;
          font-weight: 400;
          color: #000000;
          position: absolute;
          height: 2.5rem;
          left: 0;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
        }
        .item--aec {
          position: absolute;
          left: 0;
          top: 2.4rem;
          white-space: nowrap;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 43rem;
          height: 2.5rem;
          font-size: 2rem;
          font-weight: 400;
        }
        .rocky-por {
          width: 5.8rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          height: 2.5rem;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--ZFe {
          height: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          width: 43rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .auto-group-amyj-RHr {
      width: 91.776rem;
      height: 2.9rem;
      position: absolute;
      left: 23.2736rem;
      top: 186rem;
      display: flex;
      align-items: center;

      .auto-group-npq6-vVW {
        flex-shrink: 0;
        margin: 0rem 1.052rem 0.1rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-tapa-Sye {
        margin: 0rem 0.878rem 0.1rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-8fkv-xh6 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.1rem 0rem;
        width: 3rem;
        height: 2.8rem;
        position: relative;
      }
      .auto-group-hnqy-VBE {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.95rem 0.1rem 0rem;
        width: 3rem;
        height: 2.8rem;
        position: relative;
      }
      .auto-group-n8uq-D7E {
        flex-shrink: 0;
        margin: 0rem 57.024rem 0.118rem 0rem;
        width: 2.4996rem;
        height: 2.2342rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-zsgt-uVr {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 1.052rem 0rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
      }
      .auto-group-he1e-EY8 {
        flex-shrink: 0;
        margin: 0.1rem 0.878rem 0rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-hxts-wBe {
        flex-shrink: 0;
        margin: 0.1rem 0.7rem 0rem 0rem;
        width: 3rem;
        height: 2.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-nk36-GDv {
        width: 3rem;
        height: 2.8rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 0.95rem 0rem 0rem;
      }
      .auto-group-gfck-AaC {
        flex-shrink: 0;
        margin-top: 0.0825rem;
        width: 2.4996rem;
        height: 2.2342rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-tfax-JRW {
      width: 127.7rem;
      height: 6.9rem;
      position: absolute;
      left: 12.8rem;
      top: 191rem;
      display: flex;
      align-items: flex-end;

      .auto-group-ydbw-DoN {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:afafcec27bb35f0adb393ea1261871d31c9139cf');
        border-radius: 10rem;
        flex-shrink: 0;
        margin: 0rem 4rem 0.8rem 0rem;

        .reviews-NAU {
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
        }
      }
      .auto-group-pp4t-gwr {
        height: 4.9rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 21.1rem 0.1rem 0rem;
        width: 43rem;

        .shristy-zhe {
          line-height: 1.2125;
          color: #000000;
          width: 6.6rem;
          height: 2.5rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--JiL {
          left: 0;
          top: 2.4rem;
          color: #000000;
          position: absolute;
          height: 2.5rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 43rem;
        }
        .shristy-NTJ {
          white-space: nowrap;
          width: 6.6rem;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          position: absolute;
          left: 0;
          line-height: 1.2125;
        }
        .item--uCL {
          position: absolute;
          left: 0;
          top: 2.4rem;
          font-weight: 400;
          color: #000000;
          width: 43rem;
          height: 2.5rem;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-qin4-ZXn {
        margin: 0rem 4rem 0.6rem 0rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:afafcec27bb35f0adb393ea1261871d31c9139cf');
        border-radius: 10rem;
        flex-shrink: 0;

        .reviews-7JQ {
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-6ume-pCp {
        flex-shrink: 0;
        width: 43rem;
        height: 4.9rem;
        position: relative;

        .shristy-xK2 {
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          top: 0;
          font-weight: 400;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          width: 6.6rem;
          height: 2.5rem;
          left: 0;
        }
        .item--5eY {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          top: 2.4rem;
          white-space: nowrap;
          width: 43rem;
          height: 2.5rem;
          position: absolute;
        }
        .shristy-kkg {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 0;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          width: 6.6rem;
          height: 2.5rem;
          left: 0;
          font-weight: 400;
        }
        .item--HVi {
          top: 2.4rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          width: 43rem;
          position: absolute;
          left: 0;
          white-space: nowrap;
          height: 2.5rem;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-qhza-vHn {
      top: 201.3rem;
      display: flex;
      align-items: center;
      width: 91.776rem;
      height: 2.9rem;
      position: absolute;
      left: 23.2736rem;

      .auto-group-ggve-Dng {
        flex-shrink: 0;
        margin: 0rem 1.052rem 0.1rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-ccta-vBJ {
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.878rem 0.1rem 0rem;
      }
      .auto-group-av8g-eNC {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.95rem 0.1rem 0rem;
        width: 3rem;
        height: 2.8rem;
        position: relative;
        object-fit: contain;
      }
      .auto-group-ffgk-Zzx {
        margin: 0rem 1.2rem 0.118rem 0rem;
        width: 2.4996rem;
        height: 2.2342rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-61a8-rz4 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 57.024rem 0.118rem 0rem;
        width: 2.4996rem;
        height: 2.2342rem;
        position: relative;
      }
      .auto-group-vkdw-bAx {
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 1.052rem 0rem 0rem;
      }
      .auto-group-ywmn-X4c {
        flex-shrink: 0;
        margin: 0.1rem 0.878rem 0rem 0rem;
        width: 2.648rem;
        height: 2.7998rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-trws-SxG {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 0.95rem 0rem 0rem;
        width: 3rem;
        height: 2.8rem;
      }
      .auto-group-bpgu-kCG {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.082rem 1.2rem 0rem 0rem;
        width: 2.4996rem;
        height: 2.2342rem;
      }
      .auto-group-8vwj-GwJ {
        height: 2.2342rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0825rem;
        width: 2.4996rem;
      }
    }
  }
  .auto-group-glel-owE {
    display: flex;
    align-items: center;
    background-color: #454444;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.5rem 21.6rem 7.6rem 12.1rem;
    width: 100%;
    height: 34rem;

    .group-35-LAU {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 21.4rem 9.8rem 0rem;

      .the-partyyy-rec {
        margin-bottom: 1.3rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #fee1e1;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .some-random-stuff-about-flower-shop-and-some-more-info-PeY {
        line-height: 1.6666666667;
        color: #d9d9d9;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.3rem;
        max-width: 33.8rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .group-36-u76 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.9rem 26.2rem 2.5rem 0rem;
      height: calc(100% - 4.4rem);
      align-items: center;

      .links-oyA {
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
      .home-shop-about-login-x5N {
        flex-shrink: 0;
        margin-right: 0.1rem;
        max-width: 4.9rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #d9d9d9;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .group-37-5Qt {
      margin-top: 2.2rem;
      width: 23.4rem;
      flex-shrink: 0;

      .auto-group-rkrx-Rje {
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 2.9rem;
        width: 100%;
        display: flex;

        .contact-xDn {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
        }
        .group-28-VUc {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 6rem 0rem 0.3rem;
          width: calc(100% - 6.3rem);

          .location-dot-solid-1-EBJ {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.3rem 0.005rem 0rem;
            width: 1.3rem;
            height: 1.7953rem;
            object-fit: contain;
          }
          .jawlakhellalitpur-kfS {
            font-weight: 400;
            line-height: 1.1725;
            color: #d9d9d9;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
      .group-30-UrL {
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding-left: 0.0564rem;
        width: 100%;
        display: flex;
        align-items: center;

        .at-solid-1-pvC {
          height: 1.6781rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.159rem 0.01rem 0rem;
          width: 1.6843rem;
        }
        .thepartyyygmailcom-Y5W {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-29-gBi {
        width: calc(100% - 9.4rem);
        display: flex;
        align-items: center;
        margin: 0rem 9.3rem 0rem 0.1rem;

        .phone-solid-1-bJg {
          height: 1.8001rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0rem;
          width: 1.7998rem;
        }
        .item-12345678901-8Jc {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
