
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-page-jdz {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-zzeu-iF2 {
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 8rem 1.713rem 11.1rem;
    width: 100%;

    .the-partyyy-UvL {
      flex-shrink: 0;
      font-size: 4rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 17.2rem 2.188rem 0rem;
      font-weight: 400;
      text-decoration-line: underline;
      white-space: nowrap;
    }
    .home-4Nk {
      font-size: 2.5rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      cursor: pointer;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
    .shop-vA4 {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      cursor: pointer;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .about-yu2 {
      cursor: pointer;
      font-size: 2.5rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 18.706rem 0.388rem 0rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .emojione-shopping-cart-dCt {
      height: 6.375rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.713rem 6.306rem 0rem 0rem;
      width: 6.1875rem;
    }
    .icon-park-right-user-66U {
      width: 6.9rem;
      height: 5.8rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2875rem;
    }
  }
  .auto-group-xwvg-8J4 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 6.2rem 4rem 5.4rem;

    .auto-group-wgfi-1ck {
      position: relative;
      background-color: #ffcdcd;
      flex-shrink: 0;
      margin: 0rem 1.8rem 5rem 1.8rem;
      width: calc(100% - 3.6rem);
      height: 8.7rem;

      .vector-FX6 {
        height: 2.3rem;
        position: absolute;
        left: 5.1rem;
        top: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .group-60-jBN {
        position: absolute;
        left: 5.9rem;
        top: 1.8rem;
        display: flex;
        align-items: center;
        width: 116.7rem;
        height: 5.6rem;

        .group-40-ahn {
          height: calc(100% - 2.6rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 1.9rem 26.3rem 0.7rem 0rem;

          .filter-solid-1-Pv8 {
            width: 2.2rem;
            height: 2.2rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin-right: 1.9rem;
          }
          .filtering-4mN {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
          }
        }
        .auto-group-i87i-Sor {
          padding: 1.8rem 2.1rem 1.5rem 3.6rem;
          border: solid 0.1rem #d9d9d9;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 19.4rem;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;

          .search-9iG {
            color: #828282;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 33.6rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .magnifying-glass-solid-1-3oe {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.3rem;
            height: 2.3002rem;
          }
        }
        .group-58-8KJ {
          height: calc(100% - 2.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1.8rem 0rem 1rem 0rem;
          box-sizing: border-box;
          padding: 0.169rem 0rem 0rem 0.049rem;

          .arrow-down-short-wide-solid-1-E7S {
            width: 3.4514rem;
            height: 2.3627rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2rem 0.269rem 0rem;
          }
          .price-Kua {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.2313rem;
          }
        }
      }
    }
    .auto-group-usuc-Eme {
      height: 31.9rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      width: 100%;

      .auto-group-d8j4-kzt {
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 30.1rem;
        height: 100%;
        row-gap: 1.5rem;
        align-items: center;
        display: flex;
        background-color: #ffffff;

        .product-pic-1-eKa {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 26.2rem;
          height: 18.4rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-ebbe-Mzg {
          flex-shrink: 0;
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;

          .rose-JQ8 {
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.4rem 0.1rem 0rem;
            font-size: 1.8rem;
          }
          .rs-550-CVW {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
        }
        .auto-group-jwfw-iye {
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;

          .add-to-cart-41v {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
          }
          .emojione-shopping-cart-NoJ {
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.375rem;
          }
        }
      }
      .auto-group-fche-Gtg {
        display: flex;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 30.1rem;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        height: 100%;

        .product-pic-2-PiQ {
          margin-bottom: 1.5rem;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-khct-Wo2 {
          margin: 0rem 0rem 1.6rem 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .lily-qqJ {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 16.8rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .rs-490-P68 {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-hpyw-i8Q {
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;

          .add-to-cart-e24 {
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .emojione-shopping-cart-y4L {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-cvzr-HKv {
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        row-gap: 1.5rem;
        align-items: center;
        background-color: #ffffff;

        .product-pic-3-zk8 {
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-karc-8LY {
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .sunflower-Ttc {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.4rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .rs-670-nfz {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
        }
        .auto-group-pvv4-X7n {
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;

          .add-to-cart-3bv {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .emojione-shopping-cart-kmE {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-jbwq-fdJ {
        width: 30.1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .product-pic-4-BrY {
          margin-bottom: 1.5rem;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-gtec-vJL {
          margin: 0rem 0.3rem 1.6rem 0.7rem;
          width: calc(100% - 1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .tulip-rhn {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .rs-480-Bzx {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .auto-group-xcm6-XZ2 {
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.812rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;

          .add-to-cart-ReQ {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
          }
          .emojione-shopping-cart-kAt {
            flex-shrink: 0;
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-nbq4-e1N {
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 31.9rem;
      display: flex;

      .auto-group-aeba-AEc {
        padding: 1.3rem 1.8rem 2.1rem 2rem;
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 30.1rem;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;

        .product-pic-5-UFJ {
          margin-right: 0.1rem;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .auto-group-kwag-c6c {
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .baby-breath-wua {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.9rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .rs-1100-GS4 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .auto-group-qhe8-zcx {
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;
          margin-right: 0.1rem;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;

          .add-to-cart-WLQ {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
          .emojione-shopping-cart-EnC {
            vertical-align: top;
            flex-shrink: 0;
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
          }
        }
      }
      .auto-group-ynwu-kkY {
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;

        .product-pic-6-Tex {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-qtdv-bFN {
          flex-shrink: 0;
          margin-left: 0.7rem;
          width: calc(100% - 0.7rem);
          display: flex;
          align-items: center;

          .daisy-YAc {
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.1rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .rs-850-sCt {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-zqq4-ocL {
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;

          .add-to-cart-L6U {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .emojione-shopping-cart-4oA {
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.375rem;
          }
        }
      }
      .auto-group-wxgt-nDN {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        height: 100%;
        align-items: center;
        background-color: #ffffff;

        .product-pic-7-JhW {
          width: 26.2rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .auto-group-sdfw-2tQ {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 1.6rem 0.7rem;
          width: calc(100% - 0.7rem);

          .daffodils-ZdS {
            flex-shrink: 0;
            margin-right: 11.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rs-1290-79A {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
        }
        .auto-group-ihag-dNQ {
          box-sizing: border-box;
          padding: 0.528rem 3.813rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;

          .add-to-cart-MpC {
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .emojione-shopping-cart-tZE {
            flex-shrink: 0;
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-i9bn-QnU {
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.3rem 1.9rem 2.1rem 2rem;
        width: 30.1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .product-pic-8-8Ta {
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 26.2rem;
        }
        .auto-group-hgnc-eRv {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.1rem 1.6rem 0.7rem;
          width: calc(100% - 0.8rem);

          .white-carnation-Nsi {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.8rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
          }
          .rs-1190-Wj2 {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-2phv-3ix {
          box-sizing: border-box;
          padding: 0.528rem 3.812rem 0.428rem 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #fee1e1;
          flex-shrink: 0;

          .add-to-cart-ycc {
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 3.212rem 0rem 0rem;
            font-size: 1.8rem;
          }
          .emojione-shopping-cart-tzU {
            width: 3.375rem;
            height: 3.8438rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
