
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-detail-page-87a {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-euhr-rZN {
    box-sizing: border-box;
    padding: 4rem 8rem 1.713rem 11.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    flex-shrink: 0;

    .the-partyyy-aEU {
      font-weight: 400;
      text-decoration-line: underline;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 17.2rem 2.188rem 0rem;
      font-size: 4rem;
      line-height: 1.2125;
      color: #000000;
      flex-shrink: 0;
    }
    .home-F5i {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      line-height: 1.2125;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      font-size: 2.5rem;
    }
    .shop-9gt {
      font-size: 2.5rem;
      line-height: 1.2125;
      white-space: nowrap;
      margin: 0rem 13.2rem 0.388rem 0rem;
      cursor: pointer;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .about-TxU {
      cursor: pointer;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 18.706rem 0.388rem 0rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5rem;
    }
    .emojione-shopping-cart-nUx {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.713rem 6.306rem 0rem 0rem;
      width: 6.1875rem;
      height: 6.375rem;
    }
    .icon-park-right-user-WA4 {
      margin-bottom: 0.2875rem;
      width: 6.9rem;
      height: 5.8rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-tkxn-DqA {
    box-sizing: border-box;
    padding: 8.6rem 8rem 15.6rem 6.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-qvsa-YcY {
      padding: 4.5rem 14rem 3.5rem 3.2rem;
      flex-shrink: 0;
      align-items: center;
      background-color: #f4f4f4;
      margin: 0rem 0.9rem 12.5rem 1.4rem;
      box-sizing: border-box;
      width: calc(100% - 2.3rem);
      height: 36.6rem;
      display: flex;

      .product-pic-1-qLk {
        margin: 0rem 4.1rem 3rem 0rem;
        width: 28.7rem;
        height: 25.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .auto-group-ezyk-wua {
        flex-shrink: 0;
        margin: 5.8rem 9.6rem 12.7rem 0rem;
        height: calc(100% - 18.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .rose-Td2 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.9rem;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .item-550-Bov {
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-z74u-X76 {
        margin-top: 2.8rem;
        width: 61.9rem;
        flex-shrink: 0;

        .details--GaU {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 5.4rem 4.7rem;
          max-width: 57.2rem;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .auto-group-j3ip-75J {
          margin-right: 25.2rem;
          box-sizing: border-box;
          padding: 1.663rem 4.341rem 1.663rem 8.7rem;
          width: calc(100% - 25.2rem);
          display: flex;
          align-items: center;
          background-color: #fee1e1;

          .add-to-cart-2CG {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.1rem 6.041rem 0rem 0rem;
            font-size: 2.5rem;
          }
          .emojione-shopping-cart-wq2 {
            width: 4.2188rem;
            height: 4.875rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-qmax-Fap {
      flex-shrink: 0;
      width: 100%;
      height: 58.5rem;
      display: flex;
      align-items: center;

      .auto-group-gfsp-Ckx {
        width: 60.4rem;
        height: 100%;
        position: relative;
        background-color: #f4f4f4;
        flex-shrink: 0;
        margin-right: 8.9rem;

        .elena-Rdi {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          left: 14.9rem;
          font-size: 2rem;
          font-weight: 400;
          width: 5.2rem;
          position: absolute;
          top: 13.4rem;
          white-space: nowrap;
        }
        .item--jPW {
          width: 43rem;
          height: 2.5rem;
          font-size: 2rem;
          color: #000000;
          position: absolute;
          left: 14.9rem;
          top: 15.8rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fxemoji-star-BmJ {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 15.0736rem;
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-KMi {
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
        }
        .fxemoji-star-eet {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-a2k {
          height: 2.8rem;
          position: absolute;
          left: 26rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .fluent-star-24-regular-hdA {
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 22.0741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
        }
        .reviews-2QY {
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 26.7rem;
          object-fit: cover;
        }
        .rocky-k5e {
          left: 14.9rem;
          top: 28.6rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          position: absolute;
          font-weight: 400;
          height: 2.5rem;
          font-size: 2rem;
        }
        .item--Rha {
          color: #000000;
          top: 31rem;
          font-size: 2rem;
          line-height: 1.2125;
          left: 14.9rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 43rem;
          height: 2.5rem;
          position: absolute;
        }
        .fxemoji-star-VhS {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 15.0736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-dHr {
          position: absolute;
          left: 18.7736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
        }
        .fxemoji-star-A2t {
          top: 37rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
        }
        .fxemoji-star-VL4 {
          height: 2.8rem;
          position: absolute;
          left: 26rem;
          top: 37rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .fluent-star-24-regular-2at {
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 37.2741rem;
          object-fit: contain;
        }
        .reviews-MdA {
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 42rem;
          object-fit: cover;
          vertical-align: top;
        }
        .shristy-5p4 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.6rem;
          top: 43.9rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          color: #000000;
        }
        .item--oVA {
          width: 43rem;
          top: 46.3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fxemoji-star-sV2 {
          position: absolute;
          left: 15.0736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
        }
        .fxemoji-star-cBi {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-YLG {
          left: 22.3rem;
          top: 52.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
          position: absolute;
        }
        .fluent-star-24-regular-t9E {
          position: absolute;
          left: 29.95rem;
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
        }
        .fluent-star-24-regular-DBW {
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
          left: 26.25rem;
          top: 52.5741rem;
          object-fit: contain;
        }
        .reviews-wNQ {
          position: absolute;
          left: 4.6rem;
          top: 11.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
        }
        .reviews-fZJ {
          width: 11.8rem;
          left: 5rem;
          font-size: 3rem;
          line-height: 1.2125;
          height: 3.7rem;
          position: absolute;
          top: 3.7rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .add-a-review-PEQ {
          color: #000000;
          height: 3rem;
          top: 3.7rem;
          font-size: 2.5rem;
          font-weight: 400;
          text-decoration-line: underline;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.3rem;
          position: absolute;
          left: 37.9rem;
          line-height: 1.1725;
        }
        .mdi-chat-plus-VoE {
          width: 3.3rem;
          height: 3.6rem;
          cursor: pointer;
          position: absolute;
          left: 54.3rem;
          top: 3.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .products-you-may-like-d8k {
          top: 0;
          background-color: #f4f4f4;
          width: 60.4rem;
          height: 58.5rem;
          position: absolute;
          left: 0;
        }
        .elena-MaY {
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          color: #000000;
          white-space: nowrap;
          width: 5.2rem;
          top: 13.4rem;
          line-height: 1.2125;
        }
        .item--GSc {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.5rem;
          left: 14.9rem;
          top: 15.8rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          width: 43rem;
          position: absolute;
        }
        .fxemoji-star-KQt {
          left: 15.0736rem;
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
        }
        .fxemoji-star-Rip {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-xCx {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-Uwz {
          position: absolute;
          left: 26rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
        }
        .fluent-star-24-regular-RMS {
          left: 29.95rem;
          top: 22.0741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
        }
        .reviews-wqa {
          top: 26.7rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
        }
        .rocky-4vC {
          white-space: nowrap;
          width: 5.8rem;
          height: 2.5rem;
          position: absolute;
          top: 28.6rem;
          font-size: 2rem;
          line-height: 1.2125;
          left: 14.9rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--b9S {
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 43rem;
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          top: 31rem;
          font-weight: 400;
        }
        .fxemoji-star-TSY {
          position: absolute;
          left: 15.0736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
        }
        .fxemoji-star-VnY {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-ZXW {
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 37rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .fxemoji-star-VRA {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 26rem;
          top: 37rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fluent-star-24-regular-S5W {
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 37.2741rem;
        }
        .reviews-MyA {
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 42rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
        }
        .shristy-gVe {
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.6rem;
          left: 14.9rem;
          top: 43.9rem;
          line-height: 1.2125;
        }
        .item--oKN {
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 43rem;
          top: 46.3rem;
          font-weight: 400;
          color: #000000;
        }
        .fxemoji-star-sKE {
          left: 15.0736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
        }
        .fxemoji-star-zue {
          position: absolute;
          left: 18.7736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
        }
        .fxemoji-star-8W4 {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 52.3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fluent-star-24-regular-GMN {
          left: 29.95rem;
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
        }
        .fluent-star-24-regular-QCg {
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
          left: 26.25rem;
        }
        .reviews-XYC {
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 11.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
        }
        .products-you-may-like-SQG {
          height: 58.5rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #f4f4f4;
          width: 60.4rem;
        }
        .elena-aFa {
          width: 5.2rem;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          top: 13.4rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .item--Urk {
          width: 43rem;
          height: 2.5rem;
          font-weight: 400;
          color: #000000;
          position: absolute;
          left: 14.9rem;
          top: 15.8rem;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fxemoji-star-wVS {
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 15.0736rem;
        }
        .fxemoji-star-Gnc {
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 21.8002rem;
          object-fit: contain;
        }
        .fxemoji-star-QP2 {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-wdr {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 26rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fluent-star-24-regular-gbS {
          left: 29.95rem;
          top: 22.0741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
        }
        .reviews-byJ {
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 26.7rem;
          object-fit: cover;
        }
        .rocky-jJp {
          position: absolute;
          left: 14.9rem;
          top: 28.6rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          width: 5.8rem;
        }
        .item--CiC {
          height: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          width: 43rem;
          position: absolute;
          left: 14.9rem;
          top: 31rem;
          font-size: 2rem;
        }
        .fxemoji-star-U9v {
          left: 15.0736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
        }
        .fxemoji-star-c1E {
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
        }
        .fxemoji-star-LT2 {
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 37rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-GrU {
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 26rem;
          top: 37rem;
          object-fit: contain;
        }
        .fluent-star-24-regular-1JG {
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 37.2741rem;
          object-fit: contain;
        }
        .reviews-jk4 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 42rem;
        }
        .shristy-53E {
          position: absolute;
          left: 14.9rem;
          font-size: 2rem;
          line-height: 1.2125;
          width: 6.6rem;
          height: 2.5rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          top: 43.9rem;
          font-weight: 400;
        }
        .item--mRr {
          height: 2.5rem;
          left: 14.9rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 43rem;
          top: 46.3rem;
          font-size: 2rem;
          font-weight: 400;
          position: absolute;
        }
        .fxemoji-star-fQk {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 15.0736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-oG4 {
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
        }
        .fxemoji-star-jfW {
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 52.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .fluent-star-24-regular-UNC {
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
        }
        .fluent-star-24-regular-o9a {
          position: absolute;
          left: 26.25rem;
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
        }
        .reviews-XLU {
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 11.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
        }
        .products-you-may-like-rNk {
          background-color: #f4f4f4;
          width: 60.4rem;
          height: 58.5rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .elena-zjr {
          position: absolute;
          left: 14.9rem;
          color: #000000;
          white-space: nowrap;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 5.2rem;
          height: 2.5rem;
          top: 13.4rem;
          font-size: 2rem;
          font-weight: 400;
        }
        .item--RqA {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          left: 14.9rem;
          line-height: 1.2125;
          width: 43rem;
          top: 15.8rem;
          font-size: 2rem;
          font-weight: 400;
        }
        .fxemoji-star-hGt {
          position: absolute;
          left: 15.0736rem;
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
        }
        .fxemoji-star-2px {
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 21.8002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
        }
        .fxemoji-star-AwA {
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
        }
        .fxemoji-star-s4t {
          height: 2.8rem;
          position: absolute;
          left: 26rem;
          top: 21.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .fluent-star-24-regular-azt {
          position: absolute;
          left: 29.95rem;
          top: 22.0741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
          height: 2.2342rem;
        }
        .reviews-Jvt {
          left: 4.6rem;
          top: 26.7rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
        }
        .rocky-qA8 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 5.8rem;
          position: absolute;
          left: 14.9rem;
          font-size: 2rem;
          white-space: nowrap;
          height: 2.5rem;
          top: 28.6rem;
        }
        .item--Lsa {
          line-height: 1.2125;
          height: 2.5rem;
          position: absolute;
          font-weight: 400;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 43rem;
          left: 14.9rem;
          top: 31rem;
        }
        .fxemoji-star-bHi {
          position: absolute;
          left: 15.0736rem;
          top: 37.0002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
        }
        .fxemoji-star-7Wx {
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 37.0002rem;
        }
        .fxemoji-star-pgG {
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 22.3rem;
          top: 37rem;
        }
        .fxemoji-star-kK2 {
          top: 37rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
          position: absolute;
          left: 26rem;
        }
        .fluent-star-24-regular-5MJ {
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 37.2741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
        }
        .reviews-CB2 {
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
          left: 4.6rem;
          top: 42rem;
          object-fit: cover;
          vertical-align: top;
        }
        .shristy-vcp {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.6rem;
          left: 14.9rem;
          top: 43.9rem;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          height: 2.5rem;
          position: absolute;
        }
        .item--3Be {
          left: 14.9rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 43rem;
          height: 2.5rem;
          position: absolute;
          top: 46.3rem;
          font-size: 2rem;
        }
        .fxemoji-star-uzY {
          vertical-align: top;
          width: 2.648rem;
          height: 2.7998rem;
          position: absolute;
          left: 15.0736rem;
          top: 52.3002rem;
          object-fit: contain;
        }
        .fxemoji-star-qtC {
          height: 2.7998rem;
          position: absolute;
          left: 18.7736rem;
          top: 52.3002rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.648rem;
        }
        .fxemoji-star-nHe {
          position: absolute;
          left: 22.3rem;
          top: 52.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 2.8rem;
        }
        .fluent-star-24-regular-ih6 {
          height: 2.2342rem;
          position: absolute;
          left: 29.95rem;
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4996rem;
        }
        .fluent-star-24-regular-3zG {
          width: 2.4996rem;
          height: 2.2342rem;
          position: absolute;
          left: 26.25rem;
          top: 52.5741rem;
          object-fit: contain;
          vertical-align: top;
        }
        .reviews-z8p {
          left: 4.6rem;
          top: 11.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 10rem;
          width: 6.3rem;
          height: 6.1rem;
          position: absolute;
        }
        .reviews-JvC {
          font-size: 3rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.8rem;
          height: 3.7rem;
          position: absolute;
          left: 5rem;
          top: 3.7rem;
          line-height: 1.2125;
          color: #000000;
        }
        .add-a-review-p7r {
          position: absolute;
          left: 37.9rem;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
          white-space: nowrap;
          width: 14.3rem;
          top: 3.7rem;
          text-decoration-line: underline;
          font-family: Roboto, 'Source Sans Pro';
          height: 3rem;
        }
        .mdi-chat-plus-WWU {
          position: absolute;
          left: 54.3rem;
          top: 3.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.3rem;
          height: 3.6rem;
          cursor: pointer;
        }
      }
      .auto-group-4nzc-cZW {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.7rem 2.3rem 4.6rem 1.8rem;
        width: 60.4rem;
        height: 100%;
        background-color: #f4f4f4;

        .products-you-may-like-KD2 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 4.9rem 1.6rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .auto-group-t6fi-dUc {
          margin-bottom: 4.8rem;
          width: 100%;
          display: flex;
          align-items: center;

          .product-pic-9-NSC {
            margin-right: 3.9rem;
            width: 26.2rem;
            height: 18.4rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
          }
          .product-pic-9-JKr {
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 26.2rem;
            height: 18.4rem;
            object-fit: cover;
          }
        }
        .auto-group-rfhi-dd2 {
          width: 100%;
          display: flex;
          align-items: center;

          .product-pic-9-zTa {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3.9rem;
            width: 26.2rem;
            height: 18.4rem;
            object-fit: cover;
            vertical-align: top;
          }
          .product-pic-9-jAG {
            height: 18.4rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 26.2rem;
          }
        }
      }
    }
  }
  .auto-group-vjag-dWY {
    width: 100%;
    height: 34rem;
    display: flex;
    align-items: center;
    background-color: #454444;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.5rem 21.6rem 7.6rem 12.1rem;

    .group-41-8iC {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 21.4rem 9.8rem 0rem;
      display: flex;

      .the-partyyy-TkU {
        flex-shrink: 0;
        margin-bottom: 1.3rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #fee1e1;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .some-random-stuff-about-flower-shop-and-some-more-info-Pe8 {
        margin-left: 0.3rem;
        max-width: 33.8rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #d9d9d9;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-42-6He {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.9rem 26.2rem 2.5rem 0rem;
      height: calc(100% - 4.4rem);
      align-items: center;

      .links-cWt {
        margin-bottom: 1.9rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .home-shop-about-login-xKr {
        margin-right: 0.1rem;
        max-width: 4.9rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #d9d9d9;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-43-H7E {
      width: 23.4rem;
      flex-shrink: 0;
      margin-top: 2.2rem;

      .auto-group-nwal-RUL {
        box-sizing: border-box;
        padding-bottom: 2.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .contact-Agp {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
        }
        .group-28-WVn {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 6rem 0rem 0.3rem;
          width: calc(100% - 6.3rem);
          display: flex;

          .location-dot-solid-1-2yv {
            margin: 0rem 1.3rem 0.005rem 0rem;
            width: 1.3rem;
            height: 1.7953rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .jawlakhellalitpur-YxG {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #d9d9d9;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .group-30-gHn {
        align-items: center;
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding-left: 0.0564rem;
        width: 100%;
        display: flex;

        .at-solid-1-bvY {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.159rem 0.01rem 0rem;
          width: 1.6842rem;
          height: 1.6781rem;
        }
        .thepartyyygmailcom-8Qg {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-29-Thr {
        width: calc(100% - 9.4rem);
        display: flex;
        align-items: center;
        margin: 0rem 9.3rem 0rem 0.1rem;

        .phone-solid-1-anU {
          width: 1.7998rem;
          height: 1.8001rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0rem;
        }
        .item-12345678901-Wg8 {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #d9d9d9;
        }
      }
    }
  }
}
