
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-page-sgU {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-gu3a-o4L {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 8.863rem 1.713rem 11.1rem;

    .the-partyyy-UAU {
      margin: 0rem 17.2rem 2.188rem 0rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #000000;
    }
    .home-MVA {
      cursor: pointer;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .shop-sTW {
      font-size: 2.5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 13.2rem 0.388rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .about-beQ {
      white-space: nowrap;
      margin: 0rem 18.706rem 0.388rem 0rem;
      cursor: pointer;
      font-size: 2.5rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      flex-shrink: 0;
    }
    .emojione-shopping-cart-KaQ {
      margin: 0.713rem 7.169rem 0rem 0rem;
      width: 6.1875rem;
      height: 6.375rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .icon-park-right-user-qYk {
      flex-shrink: 0;
      margin-bottom: 0.2875rem;
      width: 5.175rem;
      height: 4.8333rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .baby-breath-8nk {
    margin-bottom: 42.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-y5d2-Tq2 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-kwkx-cC8 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7rem 2.3rem 8.9rem;
      width: calc(100% - 15.9rem);
      height: 47.3rem;
      display: flex;

      .image-1-j1r {
        margin-right: 6.5rem;
        width: 39.4rem;
        height: 47.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-wxg4-EjJ {
        padding: 4.2rem 5.1rem 5.5rem 5.1rem;
        width: 82.2rem;
        height: 100%;
        background-color: #f4f4f4;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-ctzi-L1e {
          margin: 0rem 35.6rem 7.4rem 0rem;
          width: calc(100% - 35.6rem);
          display: flex;
          align-items: center;

          .my-info-fZi {
            margin-right: 16.5rem;
            font-size: 2.5rem;
            line-height: 1.2125;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            font-weight: 400;
            text-decoration-line: underline;
            color: #000000;
          }
          .my-order-nuE {
            flex-shrink: 0;
            cursor: pointer;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .name-w1S {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 4.9rem 0.9rem;
          font-size: 2.5rem;
        }
        .phone-number-ru6 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 4.9rem 0.9rem;
          font-size: 2.5rem;
        }
        .email-PPE {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 4.9rem 0.9rem;
          font-size: 2.5rem;
          font-weight: 400;
        }
        .change-password-7q2 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-ufva-cmn {
      margin-right: 0.5rem;
      box-sizing: border-box;
      width: calc(100% - 0.5rem);
      height: 34rem;
      display: flex;
      align-items: center;
      background-color: #454444;
      padding: 5.5rem 21.6rem 7.6rem 12.1rem;
      flex-shrink: 0;

      .group-35-KRJ {
        margin: 0rem 21.4rem 9.8rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .the-partyyy-G5e {
          margin-bottom: 1.3rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #fee1e1;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .some-random-stuff-about-flower-shop-and-some-more-info-mo6 {
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.3rem;
          max-width: 33.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #d9d9d9;
        }
      }
      .group-36-g9N {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.9rem 26.2rem 2.5rem 0rem;
        height: calc(100% - 4.4rem);

        .links-cHv {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .home-shop-about-login-wb6 {
          line-height: 1.6666666667;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.1rem;
          max-width: 4.9rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .group-37-Eq6 {
        margin-top: 2.2rem;
        width: 23.4rem;
        flex-shrink: 0;

        .auto-group-fftt-atx {
          box-sizing: border-box;
          padding-bottom: 2.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .contact-LdE {
            flex-shrink: 0;
            margin-bottom: 2.8rem;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-28-H2g {
            margin: 0rem 6rem 0rem 0.3rem;
            width: calc(100% - 6.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .location-dot-solid-1-BNx {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.3rem 0.005rem 0rem;
              width: 1.3rem;
              height: 1.7953rem;
            }
            .jawlakhellalitpur-hcC {
              line-height: 1.1725;
              color: #d9d9d9;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
        }
        .group-30-ofE {
          padding-left: 0.0564rem;
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 3rem;
          box-sizing: border-box;

          .at-solid-1-xHE {
            width: 1.6843rem;
            height: 1.6781rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.159rem 0.01rem 0rem;
          }
          .thepartyyygmailcom-FXE {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #d9d9d9;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .group-29-nn4 {
          align-items: center;
          margin: 0rem 9.3rem 0rem 0.1rem;
          width: calc(100% - 9.4rem);
          display: flex;

          .phone-solid-1-vNU {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0rem 0rem;
            width: 1.7998rem;
            height: 1.8001rem;
            object-fit: contain;
          }
          .item-12345678901-dGt {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #d9d9d9;
          }
        }
      }
    }
  }
}
