
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-page-uqJ {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-1nac-rkY {
    background-color: #ffcdcd;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 8.863rem 1.713rem 11.1rem;
    width: 100%;
    display: flex;
    align-items: center;

    .the-partyyy-B28 {
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 17.2rem 2.188rem 0rem;
      font-size: 4rem;
      font-weight: 400;
    }
    .home-gDn {
      font-size: 2.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      cursor: pointer;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .shop-PP6 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
    }
    .about-KGk {
      cursor: pointer;
      font-size: 2.5rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 18.706rem 0.388rem 0rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .emojione-shopping-cart-EuW {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.713rem 7.169rem 0rem 0rem;
      width: 6.1875rem;
      height: 6.375rem;
      position: relative;
      object-fit: contain;
    }
    .icon-park-right-user-7yJ {
      margin-bottom: 0.2875rem;
      width: 5.175rem;
      height: 4.8333rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .baby-breath-2qN {
    margin-bottom: 42.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-fuun-xyv {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 6rem;
    width: 100%;
    align-items: center;

    .auto-group-dey6-WkY {
      width: calc(100% - 15.9rem);
      height: 47.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 7rem 2.3rem 8.9rem;

      .image-1-pmE {
        width: 39.4rem;
        height: 47.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 6.5rem;
      }
      .auto-group-amnp-kPz {
        height: 100%;
        display: flex;
        align-items: flex-start;
        background-color: #f4f4f4;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.2rem 40.7rem 4.2rem 5.1rem;

        .my-info-sjW {
          font-size: 2.5rem;
          font-weight: 400;
          white-space: nowrap;
          margin-right: 16.5rem;
          cursor: pointer;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .my-order-BVJ {
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          text-decoration-line: underline;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-fsfn-7dr {
      margin-right: 0.5rem;
      box-sizing: border-box;
      padding: 5.5rem 21.6rem 7.6rem 12.1rem;
      width: calc(100% - 0.5rem);
      height: 34rem;
      display: flex;
      align-items: center;
      background-color: #454444;
      flex-shrink: 0;

      .group-35-Dgt {
        margin: 0rem 21.4rem 9.8rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .the-partyyy-N3z {
          margin-bottom: 1.3rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #fee1e1;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .some-random-stuff-about-flower-shop-and-some-more-info-Usi {
          line-height: 1.6666666667;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.3rem;
          max-width: 33.8rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .group-36-xnt {
        margin: 1.9rem 26.2rem 2.5rem 0rem;
        height: calc(100% - 4.4rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .links-hEg {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .home-shop-about-login-RgU {
          font-weight: 400;
          line-height: 1.6666666667;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.1rem;
          max-width: 4.9rem;
          font-size: 1.8rem;
        }
      }
      .group-37-9sN {
        width: 23.4rem;
        flex-shrink: 0;
        margin-top: 2.2rem;

        .auto-group-64kr-6Xi {
          box-sizing: border-box;
          padding-bottom: 2.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .contact-2AU {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.8rem;
          }
          .group-28-WbS {
            margin: 0rem 6rem 0rem 0.3rem;
            width: calc(100% - 6.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .location-dot-solid-1-DEx {
              margin: 0rem 1.3rem 0.005rem 0rem;
              width: 1.3rem;
              height: 1.7953rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .jawlakhellalitpur-7bE {
              color: #d9d9d9;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.1725;
            }
          }
        }
        .group-30-3Ut {
          margin-bottom: 3rem;
          box-sizing: border-box;
          padding-left: 0.0564rem;
          width: 100%;
          display: flex;
          align-items: center;

          .at-solid-1-nxG {
            width: 1.6842rem;
            height: 1.6781rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.159rem 0.01rem 0rem;
          }
          .thepartyyygmailcom-syi {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #d9d9d9;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-29-p8G {
          margin: 0rem 9.3rem 0rem 0.1rem;
          width: calc(100% - 9.4rem);
          display: flex;
          align-items: center;

          .phone-solid-1-xEU {
            margin: 0rem 1rem 0rem 0rem;
            width: 1.7999rem;
            height: 1.8001rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-12345678901-HGk {
            font-weight: 400;
            line-height: 1.1725;
            color: #d9d9d9;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
