
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.reviews-tfA {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-knzk-QdW {
    padding: 4rem 8.863rem 1.713rem 11.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    flex-shrink: 0;
    margin-bottom: 6.9rem;
    box-sizing: border-box;

    .the-partyyy-Vur {
      white-space: nowrap;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 17.2rem 2.188rem 0rem;
      font-size: 4rem;
      font-weight: 400;
    }
    .home-Bng {
      cursor: pointer;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 13.2rem 0.388rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      flex-shrink: 0;
    }
    .shop-W4G {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 13.2rem 0.388rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
    }
    .about-deg {
      margin: 0rem 18.706rem 0.388rem 0rem;
      font-weight: 400;
      line-height: 1.2125;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2.5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .emojione-shopping-cart-7Zr {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.713rem 7.169rem 0rem 0rem;
      width: 6.1875rem;
      height: 6.375rem;
      position: relative;
    }
    .icon-park-right-user-2Rv {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2875rem;
      width: 5.175rem;
      height: 4.8333rem;
      object-fit: contain;
    }
  }
  .auto-group-ddwg-jr8 {
    height: 49.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 5.2rem 10.8rem 6.7rem;
    width: calc(100% - 11.9rem);

    .auto-group-2kjg-368 {
      margin-right: 11.3rem;
      width: 60.4rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .elena-gun {
        top: 4.3rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 14.9rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 5.2rem;
        height: 2.5rem;
      }
      .item--A4G {
        width: 43rem;
        height: 2.5rem;
        left: 14.9rem;
        top: 6.7rem;
        font-size: 2rem;
        white-space: nowrap;
        position: absolute;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .fxemoji-star-RVz {
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
      }
      .fxemoji-star-M8k {
        left: 18.7736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-HHJ {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-nzk {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fluent-star-24-regular-XSY {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .reviews-4Ba {
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
        object-fit: cover;
      }
      .rocky-Ni4 {
        left: 14.9rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        width: 5.8rem;
        top: 19.5rem;
      }
      .item--fBN {
        left: 14.9rem;
        top: 21.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 43rem;
        height: 2.5rem;
        position: absolute;
      }
      .fxemoji-star-8ak {
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-F9a {
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-aBr {
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 27.9rem;
      }
      .fxemoji-star-J7r {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fluent-star-24-regular-2pY {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .reviews-AQx {
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
      }
      .shristy-Gyn {
        left: 14.9rem;
        top: 34.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        height: 2.5rem;
        font-size: 2rem;
        line-height: 1.2125;
        white-space: nowrap;
        width: 6.6rem;
      }
      .item--azU {
        width: 43rem;
        position: absolute;
        left: 14.9rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        height: 2.5rem;
        top: 37.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .fxemoji-star-kXa {
        left: 15.0736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-tdn {
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
      }
      .fxemoji-star-2jz {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fluent-star-24-regular-mha {
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
      }
      .fluent-star-24-regular-sEp {
        height: 2.2342rem;
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
      }
      .reviews-bgc {
        left: 4.6rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
      }
      .elena-jXv {
        height: 2.5rem;
        left: 14.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 5.2rem;
        position: absolute;
        top: 4.3rem;
        font-size: 2rem;
        white-space: nowrap;
      }
      .item--o1z {
        width: 43rem;
        left: 14.9rem;
        top: 6.7rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .fxemoji-star-3wv {
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-PVz {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-8Cg {
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
      .fxemoji-star-sAG {
        left: 26rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
      }
      .fluent-star-24-regular-b6G {
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
      }
      .reviews-86C {
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
      }
      .rocky-4Ve {
        position: absolute;
        line-height: 1.2125;
        white-space: nowrap;
        height: 2.5rem;
        left: 14.9rem;
        top: 19.5rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 5.8rem;
      }
      .item--ait {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 43rem;
        height: 2.5rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        position: absolute;
        left: 14.9rem;
        top: 21.9rem;
        font-weight: 400;
      }
      .fxemoji-star-DG4 {
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-Z52 {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-gvL {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 27.9rem;
        object-fit: contain;
      }
      .fxemoji-star-Rsv {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fluent-star-24-regular-ZDS {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .reviews-koi {
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
        object-fit: cover;
      }
      .shristy-66t {
        height: 2.5rem;
        top: 34.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 6.6rem;
        position: absolute;
        left: 14.9rem;
        white-space: nowrap;
      }
      .item--1Dr {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        left: 14.9rem;
        color: #000000;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 43rem;
        position: absolute;
        top: 37.2rem;
      }
      .fxemoji-star-BXe {
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 43.2002rem;
      }
      .fxemoji-star-VYL {
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-Dz8 {
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
      .fluent-star-24-regular-YWc {
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .fluent-star-24-regular-epY {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .reviews-BpU {
        left: 4.6rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
      }
      .products-you-may-like-Wrk {
        background-color: #f4f4f4;
        width: 60.4rem;
        height: 49.4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .elena-exx {
        height: 2.5rem;
        left: 14.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        width: 5.2rem;
        position: absolute;
        top: 4.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--Ntx {
        height: 2.5rem;
        position: absolute;
        left: 14.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 43rem;
        top: 6.7rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .fxemoji-star-DPn {
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
      }
      .fxemoji-star-9YL {
        left: 18.7736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-V6Q {
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fxemoji-star-puN {
        left: 26rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
      }
      .fluent-star-24-regular-9Ax {
        position: absolute;
        left: 29.95rem;
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
      }
      .reviews-54c {
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
        object-fit: cover;
      }
      .rocky-P5J {
        position: absolute;
        white-space: nowrap;
        width: 5.8rem;
        left: 14.9rem;
        top: 19.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
      }
      .item--hLt {
        left: 14.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 43rem;
        height: 2.5rem;
        position: absolute;
        top: 21.9rem;
        white-space: nowrap;
      }
      .fxemoji-star-NC8 {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-HZz {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-pZv {
        left: 22.3rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
      }
      .fxemoji-star-xAL {
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fluent-star-24-regular-U8g {
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .reviews-zsi {
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
      }
      .shristy-ujn {
        top: 34.8rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 14.9rem;
        line-height: 1.2125;
        width: 6.6rem;
        height: 2.5rem;
      }
      .item--dQt {
        width: 43rem;
        height: 2.5rem;
        position: absolute;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        left: 14.9rem;
        top: 37.2rem;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .fxemoji-star-hQk {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-nwz {
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-voJ {
        top: 43.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
      }
      .fluent-star-24-regular-GcG {
        position: absolute;
        left: 29.95rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
      }
      .fluent-star-24-regular-acx {
        left: 26.25rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
      }
      .reviews-iUG {
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 2.3rem;
      }
      .elena-3Fe {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 5.2rem;
        height: 2.5rem;
        left: 14.9rem;
        position: absolute;
        top: 4.3rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--Mn8 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 6.7rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.2125;
        white-space: nowrap;
        width: 43rem;
        height: 2.5rem;
        left: 14.9rem;
      }
      .fxemoji-star-2dN {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-9CC {
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 12.7002rem;
      }
      .fxemoji-star-5be {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
      }
      .fxemoji-star-Dxk {
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
      }
      .fluent-star-24-regular-NKr {
        left: 29.95rem;
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
      }
      .reviews-TcC {
        left: 4.6rem;
        top: 17.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
      }
      .rocky-Bo6 {
        height: 2.5rem;
        position: absolute;
        left: 14.9rem;
        top: 19.5rem;
        line-height: 1.2125;
        color: #000000;
        width: 5.8rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--5tU {
        width: 43rem;
        position: absolute;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        height: 2.5rem;
        left: 14.9rem;
        top: 21.9rem;
        font-weight: 400;
      }
      .fxemoji-star-Yn4 {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-f5z {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-aye {
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fxemoji-star-8EU {
        position: absolute;
        left: 26rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
      .fluent-star-24-regular-fkC {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .reviews-BTe {
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
      }
      .shristy-7cC {
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        left: 14.9rem;
        color: #000000;
        width: 6.6rem;
        top: 34.8rem;
        font-size: 2rem;
      }
      .item--S8g {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        top: 37.2rem;
        font-size: 2rem;
        font-weight: 400;
        width: 43rem;
        position: absolute;
        left: 14.9rem;
        line-height: 1.2125;
      }
      .fxemoji-star-Huz {
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
      }
      .fxemoji-star-S2C {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-9BW {
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
      }
      .fluent-star-24-regular-rLp {
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .fluent-star-24-regular-PLk {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .reviews-u4C {
        left: 4.6rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
      }
    }
    .auto-group-wtjz-1sv {
      width: 60.4rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .elena-qc4 {
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        top: 4.3rem;
        font-size: 2rem;
        width: 5.2rem;
        left: 14.9rem;
        line-height: 1.2125;
      }
      .item--ZHA {
        width: 43rem;
        font-size: 2rem;
        color: #000000;
        top: 6.7rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        left: 14.9rem;
      }
      .fxemoji-star-2Re {
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
      }
      .fxemoji-star-wHi {
        position: absolute;
        left: 18.7736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
      }
      .fxemoji-star-UHe {
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
      .fxemoji-star-P9i {
        position: absolute;
        left: 26rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
      .fluent-star-24-regular-ihn {
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .reviews-Eg8 {
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
      }
      .rocky-ZiQ {
        width: 5.8rem;
        left: 14.9rem;
        white-space: nowrap;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        position: absolute;
        top: 19.5rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .item--V6G {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        width: 43rem;
        top: 21.9rem;
        left: 14.9rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        position: absolute;
      }
      .fxemoji-star-k2C {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-H28 {
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-xe4 {
        left: 22.3rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
      }
      .fxemoji-star-JC8 {
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 27.9rem;
      }
      .fluent-star-24-regular-e16 {
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
      }
      .reviews-AEL {
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
        object-fit: cover;
        vertical-align: top;
      }
      .shristy-seY {
        width: 6.6rem;
        position: absolute;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        left: 14.9rem;
        top: 34.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .item--nWc {
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 14.9rem;
        top: 37.2rem;
        position: absolute;
        font-weight: 400;
        color: #000000;
        width: 43rem;
        height: 2.5rem;
      }
      .fxemoji-star-faQ {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-1PN {
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-j4U {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
        object-fit: contain;
      }
      .fluent-star-24-regular-4sS {
        left: 29.95rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
      }
      .fluent-star-24-regular-o4L {
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
      }
      .reviews-6p8 {
        left: 4.6rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
      }
      .elena-dJG {
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        top: 4.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        width: 5.2rem;
        position: absolute;
        left: 14.9rem;
        white-space: nowrap;
      }
      .item--9Gc {
        left: 14.9rem;
        top: 6.7rem;
        font-weight: 400;
        white-space: nowrap;
        position: absolute;
        height: 2.5rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 43rem;
      }
      .fxemoji-star-2LQ {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-ZbE {
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
      }
      .fxemoji-star-eMn {
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
      }
      .fxemoji-star-P4U {
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fluent-star-24-regular-Jx8 {
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .reviews-eFJ {
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
        object-fit: cover;
      }
      .rocky-kp8 {
        position: absolute;
        top: 19.5rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.8rem;
        height: 2.5rem;
        left: 14.9rem;
        font-weight: 400;
      }
      .item--5bW {
        left: 14.9rem;
        font-weight: 400;
        width: 43rem;
        position: absolute;
        top: 21.9rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
      }
      .fxemoji-star-9rG {
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
      }
      .fxemoji-star-hMz {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-ofv {
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 27.9rem;
      }
      .fxemoji-star-8y6 {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 27.9rem;
        object-fit: contain;
      }
      .fluent-star-24-regular-HLC {
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
      }
      .reviews-brg {
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
        object-fit: cover;
      }
      .shristy-Wik {
        position: absolute;
        left: 14.9rem;
        top: 34.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.6rem;
        font-size: 2rem;
        line-height: 1.2125;
        height: 2.5rem;
      }
      .item--pDe {
        top: 37.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        left: 14.9rem;
        font-size: 2rem;
        width: 43rem;
        position: absolute;
      }
      .fxemoji-star-5vG {
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 43.2002rem;
        object-fit: contain;
      }
      .fxemoji-star-RjE {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-N8g {
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
      }
      .fluent-star-24-regular-t72 {
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fluent-star-24-regular-1xL {
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
      }
      .reviews-ZDA {
        left: 4.6rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
      }
      .elena-TpL {
        width: 5.2rem;
        position: absolute;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        left: 14.9rem;
        top: 4.3rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
      }
      .item--PT6 {
        position: absolute;
        left: 14.9rem;
        top: 6.7rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        height: 2.5rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 43rem;
      }
      .fxemoji-star-4JL {
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
      }
      .fxemoji-star-a1n {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-uZr {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-QmW {
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 12.7rem;
      }
      .fluent-star-24-regular-x2L {
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 12.9741rem;
      }
      .reviews-tAt {
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
      }
      .rocky-p4Y {
        width: 5.8rem;
        left: 14.9rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        top: 19.5rem;
        line-height: 1.2125;
      }
      .item--7JY {
        color: #000000;
        height: 2.5rem;
        left: 14.9rem;
        top: 21.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 43rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .fxemoji-star-n9n {
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
      }
      .fxemoji-star-vFz {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-rfS {
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fxemoji-star-Ndn {
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
      }
      .fluent-star-24-regular-ts2 {
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .reviews-pkg {
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
      }
      .shristy-kuE {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        font-size: 2rem;
        line-height: 1.2125;
        top: 34.8rem;
        font-weight: 400;
        white-space: nowrap;
        width: 6.6rem;
        height: 2.5rem;
        left: 14.9rem;
      }
      .item--eji {
        width: 43rem;
        height: 2.5rem;
        left: 14.9rem;
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 37.2rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .fxemoji-star-hxt {
        left: 15.0736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
      }
      .fxemoji-star-Sfa {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-y9i {
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fluent-star-24-regular-5yS {
        top: 43.4741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
      }
      .fluent-star-24-regular-1MJ {
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
        object-fit: contain;
      }
      .reviews-YME {
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
      }
      .products-you-may-like-H3v {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f4f4f4;
        width: 60.4rem;
        height: 49.4rem;
      }
      .elena-pZe {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 5.2rem;
        height: 2.5rem;
        left: 14.9rem;
        top: 4.3rem;
        font-size: 2rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .item--WSU {
        position: absolute;
        top: 6.7rem;
        font-size: 2rem;
        color: #000000;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 43rem;
        height: 2.5rem;
        left: 14.9rem;
        font-weight: 400;
      }
      .fxemoji-star-ax8 {
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 12.7002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-KPv {
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 12.7002rem;
      }
      .fxemoji-star-FoN {
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 12.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fxemoji-star-BBE {
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
        left: 26rem;
        top: 12.7rem;
        object-fit: contain;
      }
      .fluent-star-24-regular-K2Y {
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 12.9741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
      }
      .reviews-FB6 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 17.6rem;
      }
      .rocky-mfE {
        font-family: Inter, 'Source Sans Pro';
        width: 5.8rem;
        height: 2.5rem;
        left: 14.9rem;
        top: 19.5rem;
        line-height: 1.2125;
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .item--sTN {
        width: 43rem;
        height: 2.5rem;
        left: 14.9rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 21.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .fxemoji-star-9fn {
        height: 2.7998rem;
        position: absolute;
        left: 15.0736rem;
        top: 27.9002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
      }
      .fxemoji-star-VUk {
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 27.9002rem;
        object-fit: contain;
      }
      .fxemoji-star-Qbi {
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fxemoji-star-j8C {
        left: 26rem;
        top: 27.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.8rem;
        position: absolute;
      }
      .fluent-star-24-regular-fXe {
        left: 29.95rem;
        top: 28.1741rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
      }
      .reviews-zpp {
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 32.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
      }
      .shristy-jXW {
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 6.6rem;
        top: 34.8rem;
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        position: absolute;
        left: 14.9rem;
      }
      .item--G1e {
        font-size: 2rem;
        white-space: nowrap;
        width: 43rem;
        height: 2.5rem;
        position: absolute;
        top: 37.2rem;
        font-family: Inter, 'Source Sans Pro';
        left: 14.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
      .fxemoji-star-ieL {
        position: absolute;
        left: 15.0736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.648rem;
        height: 2.7998rem;
      }
      .fxemoji-star-fJg {
        width: 2.648rem;
        height: 2.7998rem;
        position: absolute;
        left: 18.7736rem;
        top: 43.2002rem;
        object-fit: contain;
        vertical-align: top;
      }
      .fxemoji-star-oQt {
        height: 2.8rem;
        position: absolute;
        left: 22.3rem;
        top: 43.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
      }
      .fluent-star-24-regular-jpL {
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 29.95rem;
        top: 43.4741rem;
        object-fit: contain;
      }
      .fluent-star-24-regular-rPA {
        object-fit: contain;
        vertical-align: top;
        width: 2.4996rem;
        height: 2.2342rem;
        position: absolute;
        left: 26.25rem;
        top: 43.4741rem;
      }
      .reviews-PP6 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 10rem;
        width: 6.3rem;
        height: 6.1rem;
        position: absolute;
        left: 4.6rem;
        top: 2.3rem;
      }
    }
  }
  .auto-group-kyoa-5mi {
    padding: 5.5rem 21.6rem 7.6rem 12.1rem;
    width: 100%;
    height: 34rem;
    display: flex;
    align-items: center;
    background-color: #454444;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-38-PnQ {
      margin: 0rem 21.4rem 9.8rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .the-partyyy-GrC {
        font-weight: 400;
        line-height: 1.1725;
        color: #fee1e1;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.3rem;
        font-size: 3.2rem;
      }
      .some-random-stuff-about-flower-shop-and-some-more-info-ZqJ {
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.3rem;
        max-width: 33.8rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
        color: #d9d9d9;
      }
    }
    .group-39-GUp {
      height: calc(100% - 4.4rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.9rem 26.2rem 2.5rem 0rem;

      .links-PpL {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
      }
      .home-shop-about-login-LUg {
        color: #d9d9d9;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.1rem;
        max-width: 4.9rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6666666667;
      }
    }
    .group-40-4Qg {
      margin-top: 2.2rem;
      width: 23.4rem;
      flex-shrink: 0;

      .auto-group-whjg-Cmn {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 2.9rem;
        width: 100%;

        .contact-XJG {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
        }
        .group-28-4JC {
          flex-shrink: 0;
          margin: 0rem 6rem 0rem 0.3rem;
          width: calc(100% - 6.3rem);
          display: flex;
          align-items: center;

          .location-dot-solid-1-AME {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.3rem 0.005rem 0rem;
            width: 1.3rem;
            height: 1.7953rem;
          }
          .jawlakhellalitpur-t2L {
            color: #d9d9d9;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.1725;
          }
        }
      }
      .group-30-1ck {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        box-sizing: border-box;
        padding-left: 0.0564rem;

        .at-solid-1-kqE {
          margin: 0rem 1.159rem 0.01rem 0rem;
          width: 1.6843rem;
          height: 1.6781rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .thepartyyygmailcom-fSQ {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-29-zzU {
        width: calc(100% - 9.4rem);
        display: flex;
        align-items: center;
        margin: 0rem 9.3rem 0rem 0.1rem;

        .phone-solid-1-jBN {
          flex-shrink: 0;
          margin: 0rem 1rem 0rem 0rem;
          width: 1.7998rem;
          height: 1.8001rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item-12345678901-f52 {
          color: #d9d9d9;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1725;
        }
      }
    }
  }
}
