
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.product-detail-page-87a {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.product-detail-page-87a .auto-group-euhr-rZN {
  box-sizing: border-box;
  padding: 4rem 8rem 1.713rem 11.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffcdcd;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-euhr-rZN .the-partyyy-aEU {
  margin: 0rem 17.2rem 2.188rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-euhr-rZN .home-F5i {
  margin: 0rem 13.2rem 0.388rem 0rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-euhr-rZN .shop-9gt {
  margin: 0rem 13.2rem 0.388rem 0rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-euhr-rZN .about-TxU {
  margin: 0rem 18.706rem 0.388rem 0rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-euhr-rZN .emojione-shopping-cart-nUx {
  margin: 0.713rem 6.306rem 0rem 0rem;
  width: 6.1875rem;
  height: 6.375rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-euhr-rZN .icon-park-right-user-WA4 {
  margin-bottom: 0.2875rem;
  width: 6.9rem;
  height: 5.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA {
  box-sizing: border-box;
  padding: 8.6rem 8rem 15.6rem 6.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY {
  margin: 0rem 0.9rem 12.5rem 1.4rem;
  box-sizing: border-box;
  padding: 4.5rem 14rem 3.5rem 3.2rem;
  width: calc(100% - 2.3rem);
  height: 36.6rem;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .product-pic-1-qLk {
  margin: 0rem 4.1rem 3rem 0rem;
  width: 28.7rem;
  height: 25.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-ezyk-wua {
  margin: 5.8rem 9.6rem 12.7rem 0rem;
  height: calc(100% - 18.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-ezyk-wua .rose-Td2 {
  margin-bottom: 3.9rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-ezyk-wua .item-550-Bov {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-z74u-X76 {
  margin-top: 2.8rem;
  width: 61.9rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-z74u-X76 .details--GaU {
  margin: 0rem 0rem 5.4rem 4.7rem;
  max-width: 57.2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-z74u-X76 .auto-group-j3ip-75J {
  margin-right: 25.2rem;
  box-sizing: border-box;
  padding: 1.663rem 4.341rem 1.663rem 8.7rem;
  width: calc(100% - 25.2rem);
  display: flex;
  align-items: center;
  background-color: #fee1e1;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-z74u-X76 .auto-group-j3ip-75J .add-to-cart-2CG {
  margin: 1.1rem 6.041rem 0rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qvsa-YcY .auto-group-z74u-X76 .auto-group-j3ip-75J .emojione-shopping-cart-wq2 {
  width: 4.2188rem;
  height: 4.875rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap {
  width: 100%;
  height: 58.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx {
  margin-right: 8.9rem;
  width: 60.4rem;
  height: 100%;
  position: relative;
  background-color: #f4f4f4;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .elena-Rdi {
  width: 5.2rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 13.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--jPW {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 15.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-BmJ {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-KMi {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-eet {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-a2k {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-hdA {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 22.0741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-2QY {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 26.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .rocky-k5e {
  width: 5.8rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 28.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--Rha {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 31rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-VhS {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-dHr {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-A2t {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-VL4 {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-2at {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 37.2741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-MdA {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 42rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .shristy-5p4 {
  width: 6.6rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 43.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--oVA {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 46.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-sV2 {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-cBi {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-YLG {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 52.3rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-t9E {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-DBW {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 26.25rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-wNQ {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 11.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-fZJ {
  width: 11.8rem;
  height: 3.7rem;
  position: absolute;
  left: 5rem;
  top: 3.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .add-a-review-PEQ {
  width: 14.3rem;
  height: 3rem;
  position: absolute;
  left: 37.9rem;
  top: 3.7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .mdi-chat-plus-VoE {
  width: 3.3rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 54.3rem;
  top: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .products-you-may-like-d8k {
  width: 60.4rem;
  height: 58.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .elena-MaY {
  width: 5.2rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 13.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--GSc {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 15.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-KQt {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-Rip {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-xCx {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-Uwz {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-RMS {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 22.0741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-wqa {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 26.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .rocky-4vC {
  width: 5.8rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 28.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--b9S {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 31rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-TSY {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-VnY {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-ZXW {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-VRA {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-S5W {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 37.2741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-MyA {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 42rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .shristy-gVe {
  width: 6.6rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 43.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--oKN {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 46.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-sKE {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-zue {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-8W4 {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 52.3rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-GMN {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-QCg {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 26.25rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-XYC {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 11.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .products-you-may-like-SQG {
  width: 60.4rem;
  height: 58.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .elena-aFa {
  width: 5.2rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 13.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--Urk {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 15.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-wVS {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-Gnc {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-QP2 {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-wdr {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-gbS {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 22.0741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-byJ {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 26.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .rocky-jJp {
  width: 5.8rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 28.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--CiC {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 31rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-U9v {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-c1E {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-LT2 {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-GrU {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-1JG {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 37.2741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-jk4 {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 42rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .shristy-53E {
  width: 6.6rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 43.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--mRr {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 46.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-fQk {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-oG4 {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-jfW {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 52.3rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-UNC {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-o9a {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 26.25rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-XLU {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 11.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .products-you-may-like-rNk {
  width: 60.4rem;
  height: 58.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .elena-zjr {
  width: 5.2rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 13.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--RqA {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 15.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-hGt {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-2px {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 21.8002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-AwA {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-s4t {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 21.8rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-azt {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 22.0741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-Jvt {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 26.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .rocky-qA8 {
  width: 5.8rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 28.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--Lsa {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 31rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-bHi {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-7Wx {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 37.0002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-pgG {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-kK2 {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 26rem;
  top: 37rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-5MJ {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 37.2741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-CB2 {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 42rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .shristy-vcp {
  width: 6.6rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 43.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .item--3Be {
  width: 43rem;
  height: 2.5rem;
  position: absolute;
  left: 14.9rem;
  top: 46.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-uzY {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 15.0736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-qtC {
  width: 2.648rem;
  height: 2.7998rem;
  position: absolute;
  left: 18.7736rem;
  top: 52.3002rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fxemoji-star-nHe {
  width: 3rem;
  height: 2.8rem;
  position: absolute;
  left: 22.3rem;
  top: 52.3rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-ih6 {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 29.95rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .fluent-star-24-regular-3zG {
  width: 2.4996rem;
  height: 2.2342rem;
  position: absolute;
  left: 26.25rem;
  top: 52.5741rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-z8p {
  width: 6.3rem;
  height: 6.1rem;
  position: absolute;
  left: 4.6rem;
  top: 11.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10rem;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .reviews-JvC {
  width: 11.8rem;
  height: 3.7rem;
  position: absolute;
  left: 5rem;
  top: 3.7rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .add-a-review-p7r {
  width: 14.3rem;
  height: 3rem;
  position: absolute;
  left: 37.9rem;
  top: 3.7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-gfsp-Ckx .mdi-chat-plus-WWU {
  width: 3.3rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 54.3rem;
  top: 3.4rem;
  object-fit: contain;
  vertical-align: top;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW {
  box-sizing: border-box;
  padding: 3.7rem 2.3rem 4.6rem 1.8rem;
  width: 60.4rem;
  height: 100%;
  background-color: #f4f4f4;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .products-you-may-like-KD2 {
  margin: 0rem 0rem 4.9rem 1.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .auto-group-t6fi-dUc {
  margin-bottom: 4.8rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .auto-group-t6fi-dUc .product-pic-9-NSC {
  margin-right: 3.9rem;
  width: 26.2rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .auto-group-t6fi-dUc .product-pic-9-JKr {
  width: 26.2rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .auto-group-rfhi-dd2 {
  width: 100%;
  display: flex;
  align-items: center;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .auto-group-rfhi-dd2 .product-pic-9-zTa {
  margin-right: 3.9rem;
  width: 26.2rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-tkxn-DqA .auto-group-qmax-Fap .auto-group-4nzc-cZW .auto-group-rfhi-dd2 .product-pic-9-jAG {
  width: 26.2rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY {
  box-sizing: border-box;
  padding: 5.5rem 21.6rem 7.6rem 12.1rem;
  width: 100%;
  height: 34rem;
  display: flex;
  align-items: center;
  background-color: #454444;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-41-8iC {
  margin: 0rem 21.4rem 9.8rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-41-8iC .the-partyyy-TkU {
  margin-bottom: 1.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fee1e1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-41-8iC .some-random-stuff-about-flower-shop-and-some-more-info-Pe8 {
  margin-left: 0.3rem;
  max-width: 33.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-42-6He {
  margin: 1.9rem 26.2rem 2.5rem 0rem;
  height: calc(100% - 4.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-42-6He .links-cWt {
  margin-bottom: 1.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-42-6He .home-shop-about-login-xKr {
  margin-right: 0.1rem;
  max-width: 4.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E {
  margin-top: 2.2rem;
  width: 23.4rem;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .auto-group-nwal-RUL {
  box-sizing: border-box;
  padding-bottom: 2.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .auto-group-nwal-RUL .contact-Agp {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .auto-group-nwal-RUL .group-28-WVn {
  margin: 0rem 6rem 0rem 0.3rem;
  width: calc(100% - 6.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .auto-group-nwal-RUL .group-28-WVn .location-dot-solid-1-2yv {
  margin: 0rem 1.3rem 0.005rem 0rem;
  width: 1.3rem;
  height: 1.7953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .auto-group-nwal-RUL .group-28-WVn .jawlakhellalitpur-YxG {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .group-30-gHn {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding-left: 0.0564rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .group-30-gHn .at-solid-1-bvY {
  margin: 0rem 1.159rem 0.01rem 0rem;
  width: 1.6842rem;
  height: 1.6781rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .group-30-gHn .thepartyyygmailcom-8Qg {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .group-29-Thr {
  margin: 0rem 9.3rem 0rem 0.1rem;
  width: calc(100% - 9.4rem);
  display: flex;
  align-items: center;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .group-29-Thr .phone-solid-1-anU {
  margin: 0rem 1rem 0rem 0rem;
  width: 1.7998rem;
  height: 1.8001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-detail-page-87a .auto-group-vjag-dWY .group-43-H7E .group-29-Thr .item-12345678901-Wg8 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
