
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-page-uqJ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.profile-page-uqJ .auto-group-1nac-rkY {
  box-sizing: border-box;
  padding: 4rem 8.863rem 1.713rem 11.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffcdcd;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-1nac-rkY .the-partyyy-B28 {
  margin: 0rem 17.2rem 2.188rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-1nac-rkY .home-gDn {
  margin: 0rem 13.2rem 0.388rem 0rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-1nac-rkY .shop-PP6 {
  margin: 0rem 13.2rem 0.388rem 0rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-1nac-rkY .about-KGk {
  margin: 0rem 18.706rem 0.388rem 0rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-1nac-rkY .emojione-shopping-cart-EuW {
  margin: 0.713rem 7.169rem 0rem 0rem;
  width: 6.1875rem;
  height: 6.375rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-1nac-rkY .icon-park-right-user-7yJ {
  margin-bottom: 0.2875rem;
  width: 5.175rem;
  height: 4.8333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-uqJ .baby-breath-2qN {
  margin-bottom: 42.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv {
  box-sizing: border-box;
  padding-top: 6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-dey6-WkY {
  margin: 0rem 7rem 2.3rem 8.9rem;
  width: calc(100% - 15.9rem);
  height: 47.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-dey6-WkY .image-1-pmE {
  margin-right: 6.5rem;
  width: 39.4rem;
  height: 47.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-dey6-WkY .auto-group-amnp-kPz {
  box-sizing: border-box;
  padding: 4.2rem 40.7rem 4.2rem 5.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #f4f4f4;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-dey6-WkY .auto-group-amnp-kPz .my-info-sjW {
  margin-right: 16.5rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-dey6-WkY .auto-group-amnp-kPz .my-order-BVJ {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr {
  margin-right: 0.5rem;
  box-sizing: border-box;
  padding: 5.5rem 21.6rem 7.6rem 12.1rem;
  width: calc(100% - 0.5rem);
  height: 34rem;
  display: flex;
  align-items: center;
  background-color: #454444;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-35-Dgt {
  margin: 0rem 21.4rem 9.8rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-35-Dgt .the-partyyy-N3z {
  margin-bottom: 1.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fee1e1;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-35-Dgt .some-random-stuff-about-flower-shop-and-some-more-info-Usi {
  margin-left: 0.3rem;
  max-width: 33.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-36-xnt {
  margin: 1.9rem 26.2rem 2.5rem 0rem;
  height: calc(100% - 4.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-36-xnt .links-hEg {
  margin-bottom: 1.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-36-xnt .home-shop-about-login-RgU {
  margin-right: 0.1rem;
  max-width: 4.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN {
  margin-top: 2.2rem;
  width: 23.4rem;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .auto-group-64kr-6Xi {
  box-sizing: border-box;
  padding-bottom: 2.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .auto-group-64kr-6Xi .contact-2AU {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .auto-group-64kr-6Xi .group-28-WbS {
  margin: 0rem 6rem 0rem 0.3rem;
  width: calc(100% - 6.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .auto-group-64kr-6Xi .group-28-WbS .location-dot-solid-1-DEx {
  margin: 0rem 1.3rem 0.005rem 0rem;
  width: 1.3rem;
  height: 1.7953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .auto-group-64kr-6Xi .group-28-WbS .jawlakhellalitpur-7bE {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .group-30-3Ut {
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding-left: 0.0564rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .group-30-3Ut .at-solid-1-nxG {
  margin: 0rem 1.159rem 0.01rem 0rem;
  width: 1.6842rem;
  height: 1.6781rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .group-30-3Ut .thepartyyygmailcom-syi {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .group-29-p8G {
  margin: 0rem 9.3rem 0rem 0.1rem;
  width: calc(100% - 9.4rem);
  display: flex;
  align-items: center;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .group-29-p8G .phone-solid-1-xEU {
  margin: 0rem 1rem 0rem 0rem;
  width: 1.7999rem;
  height: 1.8001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-uqJ .auto-group-fuun-xyv .auto-group-fsfn-7dr .group-37-9sN .group-29-p8G .item-12345678901-HGk {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #d9d9d9;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
